.track > * {
    margin: 0;
    padding: 0;
}
.track {
    font-size: 1rem;
    color: #fff;
    padding: 0;
    margin: 1rem 0;
    gap: 10px;
}
.track h3 {
    font-size: .85rem;
}


.track-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: .85rem;
    margin-top: 1rem;
}

.btn-track {
    font-size: 1.25rem !important;
    background-color: transparent;
    cursor: pointer;
  transition: all 0.2s;
    padding: 0;

    color: #999;
  

}


.btn-track:hover {
    color: #c7c7c7;
    outline: none;
    border: none;
    overflow: hidden;
    transform: scale(1.05);
  }

.btn-track:active {
    transform: scale(0.95); /* Apply the scale animation on button click */
  }


