.playlists {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 10px;
  background-color: #1f1f1f;
  margin: auto;
  padding: .5rem;
}


.btn {
  width: 50%;
  margin: auto;
}